pCalendarService/pCalendar.WinForm.Admin/Service References/pCalendarService/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/ProductionCalendarModel" />
  <xs:element name="GetCountriesList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCountriesListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ProductionCalendarModel" minOccurs="0" name="GetCountriesListResult" nillable="true" type="q1:ArrayOfcountry" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCountry">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ProductionCalendarModel" minOccurs="0" name="Country" nillable="true" type="q2:country" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCountryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddCountryResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditCountry">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ProductionCalendarModel" minOccurs="0" name="Country" nillable="true" type="q3:country" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditCountryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EditCountryResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCalendarsList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCalendarsListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ProductionCalendarModel" minOccurs="0" name="GetCalendarsListResult" nillable="true" type="q4:ArrayOfcalendar" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCalendar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/ProductionCalendarModel" minOccurs="0" name="Calendar" nillable="true" type="q5:calendar" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCalendarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddCalendarResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditCalenadr">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/ProductionCalendarModel" minOccurs="0" name="Calendar" nillable="true" type="q6:calendar" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditCalenadrResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EditCalenadrResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDayTypes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDayTypesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/ProductionCalendarModel" minOccurs="0" name="GetDayTypesResult" nillable="true" type="q7:ArrayOfdtype" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHolidaysList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHolidaysListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/ProductionCalendarModel" minOccurs="0" name="GetHolidaysListResult" nillable="true" type="q8:ArrayOfholiday" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddHoliday">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/ProductionCalendarModel" minOccurs="0" name="Holiday" nillable="true" type="q9:holiday" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddHolidayResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddHolidayResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditHoliday">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/ProductionCalendarModel" minOccurs="0" name="Holiday" nillable="true" type="q10:holiday" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditHolidayResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EditHolidayResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRegionsList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRegionsListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/ProductionCalendarModel" minOccurs="0" name="GetRegionsListResult" nillable="true" type="q11:ArrayOfregion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddRegion">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/ProductionCalendarModel" minOccurs="0" name="Region" nillable="true" type="q12:region" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddRegionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddRegionResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditRegion">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/ProductionCalendarModel" minOccurs="0" name="Region" nillable="true" type="q13:region" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditRegionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EditRegionResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>