pCalendarService/pCalendar.WinForm.Admin/Service References/pCalendarService/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CalendarService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_ICalendarService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256>
                </sp:Basic256>
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict>
                </sp:Strict>
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing>
        </wsaw:UsingAddressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/ProductionCalendarModel" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICalendarService_GetCountriesList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCountriesList" />
  </wsdl:message>
  <wsdl:message name="ICalendarService_GetCountriesList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCountriesListResponse" />
  </wsdl:message>
  <wsdl:message name="ICalendarService_AddCountry_InputMessage">
    <wsdl:part name="parameters" element="tns:AddCountry" />
  </wsdl:message>
  <wsdl:message name="ICalendarService_AddCountry_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddCountryResponse" />
  </wsdl:message>
  <wsdl:message name="ICalendarService_EditCountry_InputMessage">
    <wsdl:part name="parameters" element="tns:EditCountry" />
  </wsdl:message>
  <wsdl:message name="ICalendarService_EditCountry_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditCountryResponse" />
  </wsdl:message>
  <wsdl:message name="ICalendarService_GetCalendarsList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCalendarsList" />
  </wsdl:message>
  <wsdl:message name="ICalendarService_GetCalendarsList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCalendarsListResponse" />
  </wsdl:message>
  <wsdl:message name="ICalendarService_AddCalendar_InputMessage">
    <wsdl:part name="parameters" element="tns:AddCalendar" />
  </wsdl:message>
  <wsdl:message name="ICalendarService_AddCalendar_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddCalendarResponse" />
  </wsdl:message>
  <wsdl:message name="ICalendarService_EditCalenadr_InputMessage">
    <wsdl:part name="parameters" element="tns:EditCalenadr" />
  </wsdl:message>
  <wsdl:message name="ICalendarService_EditCalenadr_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditCalenadrResponse" />
  </wsdl:message>
  <wsdl:message name="ICalendarService_GetDayTypes_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDayTypes" />
  </wsdl:message>
  <wsdl:message name="ICalendarService_GetDayTypes_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDayTypesResponse" />
  </wsdl:message>
  <wsdl:message name="ICalendarService_GetHolidaysList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetHolidaysList" />
  </wsdl:message>
  <wsdl:message name="ICalendarService_GetHolidaysList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetHolidaysListResponse" />
  </wsdl:message>
  <wsdl:message name="ICalendarService_AddHoliday_InputMessage">
    <wsdl:part name="parameters" element="tns:AddHoliday" />
  </wsdl:message>
  <wsdl:message name="ICalendarService_AddHoliday_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddHolidayResponse" />
  </wsdl:message>
  <wsdl:message name="ICalendarService_EditHoliday_InputMessage">
    <wsdl:part name="parameters" element="tns:EditHoliday" />
  </wsdl:message>
  <wsdl:message name="ICalendarService_EditHoliday_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditHolidayResponse" />
  </wsdl:message>
  <wsdl:message name="ICalendarService_GetRegionsList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRegionsList" />
  </wsdl:message>
  <wsdl:message name="ICalendarService_GetRegionsList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRegionsListResponse" />
  </wsdl:message>
  <wsdl:message name="ICalendarService_AddRegion_InputMessage">
    <wsdl:part name="parameters" element="tns:AddRegion" />
  </wsdl:message>
  <wsdl:message name="ICalendarService_AddRegion_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddRegionResponse" />
  </wsdl:message>
  <wsdl:message name="ICalendarService_EditRegion_InputMessage">
    <wsdl:part name="parameters" element="tns:EditRegion" />
  </wsdl:message>
  <wsdl:message name="ICalendarService_EditRegion_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditRegionResponse" />
  </wsdl:message>
  <wsdl:portType name="ICalendarService">
    <wsdl:operation name="GetCountriesList">
      <wsdl:input wsaw:Action="http://tempuri.org/ICalendarService/GetCountriesList" message="tns:ICalendarService_GetCountriesList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICalendarService/GetCountriesListResponse" message="tns:ICalendarService_GetCountriesList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddCountry">
      <wsdl:input wsaw:Action="http://tempuri.org/ICalendarService/AddCountry" message="tns:ICalendarService_AddCountry_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICalendarService/AddCountryResponse" message="tns:ICalendarService_AddCountry_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditCountry">
      <wsdl:input wsaw:Action="http://tempuri.org/ICalendarService/EditCountry" message="tns:ICalendarService_EditCountry_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICalendarService/EditCountryResponse" message="tns:ICalendarService_EditCountry_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCalendarsList">
      <wsdl:input wsaw:Action="http://tempuri.org/ICalendarService/GetCalendarsList" message="tns:ICalendarService_GetCalendarsList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICalendarService/GetCalendarsListResponse" message="tns:ICalendarService_GetCalendarsList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddCalendar">
      <wsdl:input wsaw:Action="http://tempuri.org/ICalendarService/AddCalendar" message="tns:ICalendarService_AddCalendar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICalendarService/AddCalendarResponse" message="tns:ICalendarService_AddCalendar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditCalenadr">
      <wsdl:input wsaw:Action="http://tempuri.org/ICalendarService/EditCalenadr" message="tns:ICalendarService_EditCalenadr_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICalendarService/EditCalenadrResponse" message="tns:ICalendarService_EditCalenadr_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDayTypes">
      <wsdl:input wsaw:Action="http://tempuri.org/ICalendarService/GetDayTypes" message="tns:ICalendarService_GetDayTypes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICalendarService/GetDayTypesResponse" message="tns:ICalendarService_GetDayTypes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetHolidaysList">
      <wsdl:input wsaw:Action="http://tempuri.org/ICalendarService/GetHolidaysList" message="tns:ICalendarService_GetHolidaysList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICalendarService/GetHolidaysListResponse" message="tns:ICalendarService_GetHolidaysList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddHoliday">
      <wsdl:input wsaw:Action="http://tempuri.org/ICalendarService/AddHoliday" message="tns:ICalendarService_AddHoliday_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICalendarService/AddHolidayResponse" message="tns:ICalendarService_AddHoliday_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditHoliday">
      <wsdl:input wsaw:Action="http://tempuri.org/ICalendarService/EditHoliday" message="tns:ICalendarService_EditHoliday_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICalendarService/EditHolidayResponse" message="tns:ICalendarService_EditHoliday_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRegionsList">
      <wsdl:input wsaw:Action="http://tempuri.org/ICalendarService/GetRegionsList" message="tns:ICalendarService_GetRegionsList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICalendarService/GetRegionsListResponse" message="tns:ICalendarService_GetRegionsList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddRegion">
      <wsdl:input wsaw:Action="http://tempuri.org/ICalendarService/AddRegion" message="tns:ICalendarService_AddRegion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICalendarService/AddRegionResponse" message="tns:ICalendarService_AddRegion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditRegion">
      <wsdl:input wsaw:Action="http://tempuri.org/ICalendarService/EditRegion" message="tns:ICalendarService_EditRegion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICalendarService/EditRegionResponse" message="tns:ICalendarService_EditRegion_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_ICalendarService" type="tns:ICalendarService">
    <wsp:PolicyReference URI="#NetTcpBinding_ICalendarService_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="GetCountriesList">
      <soap12:operation soapAction="http://tempuri.org/ICalendarService/GetCountriesList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddCountry">
      <soap12:operation soapAction="http://tempuri.org/ICalendarService/AddCountry" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditCountry">
      <soap12:operation soapAction="http://tempuri.org/ICalendarService/EditCountry" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCalendarsList">
      <soap12:operation soapAction="http://tempuri.org/ICalendarService/GetCalendarsList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddCalendar">
      <soap12:operation soapAction="http://tempuri.org/ICalendarService/AddCalendar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditCalenadr">
      <soap12:operation soapAction="http://tempuri.org/ICalendarService/EditCalenadr" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDayTypes">
      <soap12:operation soapAction="http://tempuri.org/ICalendarService/GetDayTypes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHolidaysList">
      <soap12:operation soapAction="http://tempuri.org/ICalendarService/GetHolidaysList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddHoliday">
      <soap12:operation soapAction="http://tempuri.org/ICalendarService/AddHoliday" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditHoliday">
      <soap12:operation soapAction="http://tempuri.org/ICalendarService/EditHoliday" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRegionsList">
      <soap12:operation soapAction="http://tempuri.org/ICalendarService/GetRegionsList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddRegion">
      <soap12:operation soapAction="http://tempuri.org/ICalendarService/AddRegion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditRegion">
      <soap12:operation soapAction="http://tempuri.org/ICalendarService/EditRegion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CalendarService">
    <wsdl:port name="NetTcpBinding_ICalendarService" binding="tns:NetTcpBinding_ICalendarService">
      <soap12:address location="net.tcp://localhost:8733/pCalendarService/Admin" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8733/pCalendarService/Admin</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Dns>localhost</Dns>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>